extends layout

block content
  h1= title
  form( class="login_form" method="post" required)
    div
        span Логин
        input(type="text" name="username" required minlength="4" maxlength="32")
    div
        span Пароль
        input(type="password", name="password" required minlength="6" maxlength="16")
    div
        span Повторите пароль
        input(type="password", name="password_copy" required minlength="6" maxlength="16")
    div
        span Email
        input(type="text", name="email" required)
    input(type="submit", value="Зарегистрироваться")
    p!=message


