body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login_form{
  display: flex;
  flex-direction: column;
}

.login_form > div{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  margin-top: 5px;
}
.login_form span{
  width: 140px;
}